html { 
  box-sizing: border-box; 
} 
*, *:before, *:after { 
  box-sizing: inherit; 
}

body {
  padding-top: 200px;
}

.centered-container {
  text-align: center;
}

.logo span {
  font-size: 64px;
  font-family: Arial, Helvetica, sans-serif;
}

.color-red {
  color: red;
}
.color-green {
  color: green;
}
.color-blue {
  color: blue;
}
.color-yellow {
  color: yellow;
}

.search-field {
  height: 44px;
  width: 484px;
  box-shadow: 0px 3px 5px #666;
}

.action-button {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 16px;
}